/* OrderInformation.css (Create a separate CSS file for your component) */

.order-information-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  border: 1px solid #ccc;
  padding: 5px  15px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .order-information-title {
    font-size: 1.5rem;
    margin-bottom: 8px;
  }
  
  .order-information-item {
    align-self: normal;
    /* margin-bottom: 8px; */
    margin: 7px;
  }
  
  .Aceppt.Button {
    border: none;
    background: rgb(136, 205, 111);
    color: black;
    padding: 10px 7px;
    margin-top: 10px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  /* Customize styles as needed */
  